:root{
    --primary-color: rgb(255, 255, 255);
    --accent-color: white;
    --accent-color2: black;
}

.hidden{
    display: none !important;
}

body{
    overflow: hidden;
    user-select: none;
    margin: 0;
    font-family: monospace;
    background-color: rgb(113, 113, 113);
}

.side-view, .top-view{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    overflow: hidden;
}

.map{
    border: 2px solid white;
    height: 75%;
    width: 75%;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 4px solid black;
}

.aquarium{
    border: 2px solid black;
    height: 200px;
    width: 100px;
    background-color: rgb(125, 164, 177);
}

.aquarium.empty{
    background-color: rgb(72, 72, 72);
}

.aquarium:hover, .selected-tank{
    background-color: rgb(143, 143, 143);
}

.water-options{
    position:absolute;
    border: 3px solid white;
    border-radius: 10px;
    background-color: black;
    padding: 10px;
}
.water-options>div:hover, .selected-water{
    background-color: blue !important;
    color: white !important;
}
.saltwater{
    background-color: rgb(41, 255, 187);
}
.tropical{
    background-color: rgb(0, 225, 255);
}
.freshwater{
    background-color: rgb(91, 101, 255);
}
.brackish{
    background-color: rgb(172, 121, 255);
}

.tank-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tank{
    height: 60%;
    width: 60%;
    border: 3px solid white;
}

.fish{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 50px;
    /* image-rendering: pixelated; */
    background-repeat: no-repeat;
    background-position: center center;
    background-size:contain;
}

.fish-left{
    transform: scaleX(1);
}

.fish-right{
    transform: scaleX(-1);
}

.fish-info{
    position: absolute;
}

.add-container{
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
}

.add-container>div:hover, .selected{
    background-color: blue;
    color: white;
}

.map-button{
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
}

.map-button:hover{
    background-color: blue;
    color: white;
}