:root{
    --primary-color: rgb(255, 255, 255);
    --accent-color: white;
    --accent-color2: black;
}

.hidden{
    display: none !important;
}

body{
    overflow: hidden;
    user-select: none;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.832);
    color: white;
    font-size: x-large;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.aquarium{
    height: 1000px;
    width: 1000px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover;
}

.aquarium-saltwater{
    background-image: url('img/sideViewTanks/focusedTank_saltwater.png');
}
.aquarium-tropical{
    background-image: url('img/sideViewTanks/focusedTank_tropical.png');
}
.aquarium-freshwater{
    background-image: url('img/sideViewTanks/focusedTank_freshwater.png');
}
.aquarium-brackish{
    background-image: url('img/sideViewTanks/focusedTank_brackish.png');
}

.map-button{
    position: absolute;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
    bottom: 20px;
    right: 45%;
}

.map-button:hover{
    background-color: blue;
    color: white;
}

.saltwater{
    background-color: rgb(41, 255, 187);
}
.tropical{
    background-color: rgb(0, 225, 255);
}
.freshwater{
    background-color: rgb(91, 101, 255);
}
.brackish{
    background-color: rgb(172, 121, 255);
}

.fish{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 50px;
    /* image-rendering: pixelated; */
    background-repeat: no-repeat;
    background-position: center center;
    background-size:contain;
    cursor: pointer;
    z-index: 999;
}

.fish-left{
    transform: scaleX(1);
}

.fish-right{
    transform: scaleX(-1);
}

.fish-info{
    position: absolute;
}

button{
    width: 200px;
    padding: 20px;
    border-radius: 10px;
}

label{
    background-color: black;
}
/*------------- items to buy ---------------*/

.edit-tank-button{
    height: 50px;
    width: 50px;
    border: 2px solid black;
    border-radius: 15px;
    background-image: url('img/ui/sideView/fish_button.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size:contain;
    /* position: absolute; */
    cursor: pointer;
}

.edit-tank-button:hover{
    border: 2px solid white;
}

.add-container{
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    position: absolute;
    left: 40%;
    z-index: 1111;
    background-color: rgba(0, 0, 0, 0.594);
}

.add-container>div:hover, .selected-fish, .selected-decor{
    background-color: blue;
    color: white;
}

.add-container>div{
    padding: 10px;
}

.fish-icon{
    height: 25px;
    width: auto;
}

.fish-option{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* -------------- decor -------------------- */

.decor{
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size:contain;
    position: absolute;
}